<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant Sightings</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <link rel="icon" href="images/logo.png" type="image/x-icon"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="/javascripts/elapsedtime.js"></script>
    <script src="/javascripts/plantdetail.js"></script>
    <!-- Link to external CSS file -->
    <link href="/stylesheets/style.css" rel="stylesheet">
</head>
<body class="gradient-background">
<%- include('navbar.ejs') %>
<div class="col-md-9 col-xl-10 px-md-4 py-5 mt-5">
    <section class="jumbotron text-left">
        <div class="container">
            <h1 class="jumbotron-heading">Plant Sightings</h1>
<!--            <p class="lead text-muted">Contains all plant sightings as described by users.</p>-->
        </div>
    </section>
    <label class="list-group form-check-reverse fw-semibold fst-italic">Sort By:</label>
    <div class="form-check form-check-reverse">
        <label class="form-check-label fw-lighter">
            <input class="form-check-input" type="radio" name="sortOrder" value="mostRecent" checked/> Most Recent
        </label>
    </div>
    <div class="form-check form-check-reverse">
        <label class="form-check-label fw-lighter">
            <input class="form-check-input" type="radio" name="sortOrder" value="nearestLocation"/> Most Near Sighting
        </label>
    </div>
    <h5 class="jumbotron-heading" style="margin-left: 200px;">Filters: </h5>
    <div class="d-flex" style="margin-left: 200px; margin-top: 10px; ">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownLeaves" data-bs-toggle="dropdown" aria-expanded="false">
                Leaves
            </button>
            <ul class="dropdown-menu" aria-labelledby="dropdownLeaves">
                <li><a class="dropdown-item" href="#" id="hasLeaves">Has Leaves</a></li>
                <li><a class="dropdown-item" href="#" id="noLeaves">No Leaves</a></li>
            </ul>
        </div>

                <div class="dropdown ms-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFruits"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Fruits
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFruits">
                        <li><a class="dropdown-item" href="#" id="hasFruits">Has Fruits</a></li>
                        <li><a class="dropdown-item" href="#" id="noFruits">No Fruits</a></li>
                    </ul>
                </div>
                <div class="dropdown ms-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownFlowers"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Flowers
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownFlowers">
                        <li><a class="dropdown-item" href="#" id="hasFlowers">Has Flowers</a></li>
                        <li><a class="dropdown-item" href="#" id="noFlowers">No Flowers</a></li>
                    </ul>
                </div>
                <div class="dropdown ms-2">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownSunExposure"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        Sun Exposure
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownSunExposure">
                        <li><a class="dropdown-item" href="#" id="fullSun">Full Sun</a></li>
                        <li><a class="dropdown-item" href="#" id="partialShade">Partial Shade</a></li>
                        <li><a class="dropdown-item" href="#" id="fullShade">Full Shade</a></li>
                    </ul>
                </div>
                <!--        <button id="resetButton" class="btn btn-primary btn-sm">Reset Filters</button>-->
                <div class="ms-auto">
                    <button id="resetButton" class="btn btn-outline-dark btn-sm">Reset Filters</button>
                </div>
            </div>
        </div>
        <div class="album py-5 bg-light"><!--    style="background-color:#70A300">-->
            <div class="container">
                <div class="row" id="plantCards">
                    <% data.forEach(plant=> { %>
                        <div class="col-md-4">
                            <div class="card mb-4 box-shadow">
                                <% if (plant.img) { %>
                                    <img class="card-img-top" src="<%= plant.img %>" alt="Card image cap"
                                        style="width: 100%; height: 300px; object-fit: cover;">
                                    <% } %>
                                        <div class="card-body">
                                            <p class="card-text">
                                                <%= plant.description %>
                                            </p>
                                            <div class="d-flex justify-content-between align-items-center">
                                                <div class="btn-group">
                                                    <form action="/plantdetails" method="POST">
                                                        <!-- Hidden input field to store plant ID -->
                                                        <input type="hidden" name="plantId" value="<%= plant._id %>" />
                                                        <input type="hidden" name="username" value="sagar" />
                                                        <button type="submit"
                                                            class="btn btn-sm btn-outline-secondary">View</button>
                                                    </form>
                                                </div>
                                                <% if (plant.dos) { %>
                                                    <small class="text-muted">
                                                        <%= getTimeElapsed(plant.dos) %>
                                                    </small>
                                                    <% } %>
                                            </div>
                                        </div>
                            </div>
                        </div>
                        <% }); %>

        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
<script>
    if(navigator.onLine){
        initializePlantData(<%- JSON.stringify(data) %>);
    }
    else{
        retrievePlants()
    }
    // Add event listener for reset button
    document.getElementById('resetButton').addEventListener('click', resetFilters);

    // Set event listener for dropdown button clicks
    document.querySelectorAll('.dropdown-toggle').forEach(function(button) {
        button.addEventListener('click', function () {
            // Toggle the dropdown menu
            // console.log("Clicked the button - function")
            let dropdownMenu = this.nextElementSibling;
            dropdownMenu.classList.toggle('show');
        });
    });

    // Set event listener for dropdown item clicks
    document.querySelectorAll('.dropdown-item').forEach(function(item) {
        // item.addEventListener('click', filterData.bind(item));
        item.addEventListener('click', function(event) {
            event.preventDefault(); // Prevent default link behavior
            toggleFilter(this.id); // Toggle the filter based on clicked item

            // Highlight the selected dropdown button and update others
            document.querySelectorAll('.dropdown-toggle').forEach(function(button) {
                if (button.nextElementSibling.contains(item)) {
                    button.classList.add('btn-primary'); // Add primary class
                    button.classList.remove('btn-secondary'); // Remove secondary class
                } else {
                    if (!button.classList.contains('btn-primary')) {
                        button.classList.add('btn-secondary'); // Add secondary class if not active
                    }
                }
            });

            // Hide the dropdown menu after a selection is made
            this.closest('.dropdown').querySelector('.dropdown-toggle').click();
            // filterData.call(this); // Call filterData with 'this' referring to the clicked item
        });
    });

            // Set event listener for radio button change
            document.querySelectorAll('input[type="radio"][name="sortOrder"]').forEach(function (radio) {
                radio.addEventListener('change', function () {
                    if (this.value === 'mostRecent') {
                        sortByMostRecent();
                        resetFilters();
                    } else {
                        // Add other sorting schemes here
                        sortByNearestLocation(currentLocation);
                        resetFilters();
                        // console.log("Hello sorting 2")
                    }
                });
            });
            sortByMostRecent();
            getLocation();
            let username = document.getElementById('username');
            console.log(username);
</script>
</body>
</html>