<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Plant Details</title>
    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body onload="init()">
<header>
    <%- include('navbar.ejs') %>
</header>
<main class="container py-4">
    <div class="row">
        <div class="col-md-6">
            <img src="<%= plant.img %>" alt="Plant Image" class="img-fluid rounded mb-3">
            <p class = "mt-2"><%= plant.description %></p>
            <h4>Sighted by - </h4>
        </div>
        <div class="col-md-6">
            <h1><%= plant.name %></h1>
            <hr>
            <ul class="list-group">
                <li class="list-group-item">Date and Time: <%= plant.dos %></li>
                <li class="list-group-item">Plant Size: <%= plant.plant_size %></li>
                <li class="list-group-item">Characteristics:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Flowers - <%= plant.flowers %></li>
                        <li class="list-group-item">Leaves - <%= plant.leaves %></li>
                        <li class="list-group-item">Fruits or Seeds - <%= plant.fruits_or_seeds %></li>
                        <li class="list-group-item">Sun exposure - <%= plant.sun_exposure %></li>
                        <li class="list-group-item">Colour of flowers - <%= plant.flower_colour %></li>
                    </ul>
                </li>
                <li class="list-group-item">Identification:
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Name - <%= plant.name %></li>
                        <li class="list-group-item">Status - <%= plant.plant_status %></li>
                        <% if (typeof description!== 'undefined') { %>
                            <li class="list-group-item">Information - <%= description %></li>
                        <% } else { %>
                            <li class="list-group-item">Information - No description available</li>
                        <% } %>
                        <li class="list-group-item">URI: <a href="http://dbpedia.org/resource/<%= plant.name %>">http://dbpedia.org/resource/<%= plant.name %></a></li>
                    </ul>
                </li>
            </ul>
<!--            <a class="btn btn-primary mt-3" data-bs-toggle="collapse" onclick="connectToRoom()" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">-->
<!--                Lets Chat!!-->
<!--            </a>-->
        </div>

        <div class="col-md-6 shadow">
            <div id="map"></div>
        </div>

    </div>
    <%- include('chat.ejs') %>
</main>
<script>
  let coordinates = " <%=plant.location%>";
  let locationParts = coordinates.split(',');
  let latitude = locationParts[0];
  let longitude = locationParts[1];

  // console.log("Latitude:", latitude);
  // console.log("Longitude:", longitude);

  function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: parseFloat(latitude), lng: parseFloat(longitude)},
          zoom: 8,
          draggable: false
      });

      var marker = new google.maps.Marker({
          position: {lat: parseFloat(latitude), lng: parseFloat(longitude)},
          map: map,
          draggable: false // Allow the marker to be dragged initially
      });
  }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCuqPAkMS8XSE0XCU2iFpA-M_znQ-rmSFg&callback=initMap">
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>